@{
    ViewData["Title"] = "Email Confirm";
}
@section Scripts {
    <script>
        const timeout = 5000;
        const successText = `Thank you. Your email is now confirmed. You will be redirected to main page in ${timeout/1000} seconds`

        const url = "/auth/email/vrf"
        const data = {
            token: '@ViewData["token"]'
        }
        httpClient.post(url, data).
            then((response)=>{
                setTimeout(()=>{
                    window.location.replace('/')
                }, timeout)
                $("#message").text(successText)

            }).catch((error)=>{
                $("#message").text(error.response.data)
            })
    </script>
}

<div class="text-center">
    <p id = "message"></p>
</div>
