@{
    ViewData["Title"] = "Change Password";
}

<div class="text-center">
    <form id = "passwordResetForm" class="d-flex flex-column align-items-center">
        <input class="mb-2" type="email" placeholder="Email" name="email" required/>
        <input class="mb-2" type="password" placeholder="Password" name="newPassword" required/>
        <input class="mb-2" type="password" placeholder="Password (Again)" name="newPasswordConf" required/>
        <input class="mb-3" type="hidden" name="token" value='@ViewData["token"]' required/>
        <p class="errorMsg mb-3" hidden></p>
        <button type="button" onclick="postForm('passwordResetForm', '/auth/pwd/reset2', (resp)=>{
            window.location.replace('/')
            })">Change Password</button>
    </form>
</div>
