@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-size: 14px;
  
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#chat {
  margin-top: 1rem;
  list-style-type: none;
  height: 60vh;
  overflow-y: auto;
  background-color:azure;
  border-radius: 1rem;
}
.messageItem {
  display: flex;
  flex-direction: row;
}

.chatSender {
  height: fit-content;
  background-color: #d4ebf7;
  max-height: 40%;
  width: 10%;
  max-width: 5rem;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
}
button{
  border-width: 1px;
}
.chatSender p{
  font-weight: bold;
  max-width: 100%;
  width: fit-content;
  overflow-wrap: break-word;
}
.chatMessage {
  background-color: #d4ebf7;
  min-height: 1rem;
  max-width: 80%;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  overflow-wrap: break-word;
}
p {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: start;
}
.chatMessage.self{
  background-color: #7dc4e8;
}
.chatMessage::after {
  content: '';
  display: block;
  margin-top: -16px;
  margin-left: -25px;
  z-index: -11;
  border-style: solid;
  border-width: 0 0 24px 30px;
  border-color: transparent transparent #d4ebf7 transparent;
}
.chatSelf::after{
  border-color: transparent transparent #7dc4e8 transparent;
}
.chatSelf {
  background-color: #7dc4e8;
}
#chatInput {
  width: 80%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-width: 1px;
}
.messageTime {
  font-size: 10px;
  float:right;
  vertical-align: bottom;
  margin-top: 8px;
  margin-left: 16px;
  
}